* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; /*why it is use */
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30%;
    margin-bottom: 50%;
    text-align: center;
    padding: 30px;
    background-color: gray;
}
.container{
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px ;
}
.image{
    border-radius: 50%;
    width: 30%;
    transition: 0.5s ease;
    display: block;
    margin: auto;
}
.image:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px;
}
.name{
    font-size: 30px;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: aqua;
    display: inline-block;
    padding: 10px, 15px;
    border-radius: 5px;
}
.about{
    color: blue;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s ease;
}
.about:hover{
    transform: scale(2.2);
}
.about-section{
    margin-top: 15px;
    text-align: left;
}
.section-title{
    background-color: aquamarine;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 8px;
    margin-bottom: 10px;
}
ul{
    list-style-type: disc;
    margin-left: 20px;
    text-align: left;
    font-size: medium;
}
.button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    background-color: rgb(247, 8, 8);
    transition: 0.5s ease;
}
.button:hover{
    background-color: black;
    transform: scale(1.1);
}